<h1>A Little Story Which is Bad</h1>
<p>Once upon a time, a little boy was @Model.GetVerb1() in his room.</p>
<p>@Model.GetNoun1(), his mother, @Model.GetVerb2() in fright. "What are you doing?!" she cried.</p>
<p>The boy said "I'm trying to be like @Model.GetNoun2()"</p>
<p>His mother thought for a moment and said "If you want to be like @Model.GetNoun2(), you'll need to @Model.GetVerb3() instead!</p>
<p>Then the boy threw up.</p>
<p>The end.</p>
